.reg-imput-label {
    font-size: medium;
    font-weight: 400;
}

.reg-error-msg{
    color: red;
    font-size: smaller;
    font-style: italic;
}

.reg-success-msg{
    margin-top: 3px;
    color: rgb(4, 211, 4);
    font-size: medium;
    font-style: italic;
    text-align: center;
}