.card-container {
    max-width: 70%;
    max-height: 70vh;
    margin: auto;
    display:grid ;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 1fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "card-img card-title card-title"
        "card-img price select"
        "card-img card-desc card-desc"
        ". card-count card-count";
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px;
    font-family: 'Atma', cursive;

    .card-image {
        grid-area: card-img;
        max-width:300px;
        height: auto;
        img {
            margin: 2rem;
            width: inherit;
            max-width: 100%;
            height: auto;
        }
    }

    .card-title{
        grid-area: card-title;
        margin: 2rem;
    }

    .price {
        grid-area: price;
        margin: 2rem;
        font-size: large;
    }

    .select{
        grid-area: select;
        margin: 5rem;
    }

    .card-desc {
        grid-area: card-desc;
        margin-right: 2rem;
    }

    .card-count {
        grid-area: card-count;
        margin: 2rem;
        display: flex;
        .counter-container{
            .counter-title{
                margin-bottom: 1rem;
            }
        }
        .add-to-cart {
            margin-left: 4rem;
            align-self:flex-end;
        }
    }

    .btn-to-cart {
        text-decoration: none;
        color: #fff;
    }
}

