.checkout-container {
    font-family: 'Atma', cursive;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    .checkout-title {
        text-align: center;
        font-weight: 600;
        font-variant: small-caps;
    }
}
