.catalog-title {
    text-align: center;
    font-family: 'Atma', cursive;
    font-weight: 600;
}

.catalog-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( 15rem, 1fr ));
    gap: 3rem;  
    grid-auto-rows: minmax(150px, auto);
}
